.grid-container{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50fr 100vw 50fr;
  grid-template-rows: 10rem 5rem auto 100fr 2rem;
  overflow: hidden;
  grid-template-areas:
    ". header ."
    "nav nav nav"
    ". player ."
    "main main main"
    ". footer .";
}

// @media(min-width: 960px){
//   .grid-container{
//     grid-template-columns: 50fr 960px 50fr;
//   }
// }

header.site-header{
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  .about-container{
    padding: 1.5rem;
  }
  border-bottom: 1px solid black;
}

.player-container{
  grid-area: player;
}

nav{
  grid-area: nav;
}

div.entries-container{
  grid-area: main;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: scroll;
  padding: 3rem;
  .entry{
    width: 30rem;
    margin-right: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    &.selected{
      align-self: stretch;
      width: 90vw;
      max-width: 60rem;
    }
  }
}

footer{
  grid-area: footer;
}

.logo{
  max-width: 8rem;
}
