.grid-container{
  height: calc(100vh - 3rem);
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.player-container{
  &.collapsed{
    height: 0;
  }
  &.open{
    height: 5rem;
  }
  width: 100vw;
}

div.entries-container{
  width: 100vw;
  height: 100%;
  overflow: scroll;
  .entries-wrap{
    overflow: scroll;
    height: 100%;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
}
