<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another awesome Statamic site">
    <title>{{ title or site_title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ theme:css }}">
</head>


<body>

    <div class="grid-container vue-container">
        <header class="site-header">
          <a href="#"><img src="{{ logo }}" alt="Lateral Addition Logo" class="logo"></a>
          <div class="about-container">
            {{ about }}
          </div>
          <div class="about-toggle">
            <a href="" class="cta">About</a>
          </div>
        </header>
        <nav>
          <div class="timeline-container">
            {{ collection:sound_collections as="group" }}
              {{ group }}
                <div data-group="{{ title }}"></div>
              {{ /group }}
            {{ /collection:sound_collections}}
          </div>
        </nav>
        <div class="player">
          <player></player>
        </div>
        <entries>
          <entry v-for="(sound, index) in sounds" v-bind="sound"></entry>
        </entries>
        <footer></footer>
    </div>

    {{ collection:sounds as="entry_data" }}
      <script type="text/javascript">
        var soundData = {
          sounds:[
          {{ entry_data }}

            {{ if last }}
              {
                index: '{{ zero_index }}',
                title: '{{ title }}',
                soundURL: '{{ sound_url }}',
                permalink: '{{ url }}',
                artist: '{{ artist }}',
                entryNumber: '{{ entry_number }}',
                metaDescription: '{{ meta_description }}'
              }
            {{ else }}
              {
                index: '{{ zero_index }}',
                title: '{{ title }}',
                soundURL: '{{ sound_url }}',
                permalink: '{{ url }}',
                artist: '{{ artist }}',
                entryNumber: '{{ entry_number }}',
                metaDescription: '{{ meta_description }}'
              },
            {{ /if }}
          {{ /entry_data }}
          ]
        }
      </script>
    {{ /collection:sounds }}
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script src="{{ theme:js }}"></script>

</body>

</html>
