<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another awesome Statamic site">
    <title>{{ title or site_title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ theme:css }}">
</head>
<body>
    <header class="site-header">
      <a href="#">
        <div class="logo-container">
          <div style="background-image:url({{ theme:asset src='img/la-logo-small.png'}});" class="logo--collapsed"></div>
          <div style="background-image:url({{ theme:asset src='img/la-logo-expanded.png'}});"  class="logo--open"></div>
        </div>
      </a>
      <div class="about-container">
        {{ about | markdown }}
        <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
	          <form action="//lateraladdition.us12.list-manage.com/subscribe/post?u=fd3db3e3176bc087728db65b9&amp;id=ee7cb4d07a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	            <div id="mc_embed_signup_scroll">
	            <div class="mc-field-group">
	              <p>Subscribe:</p>
	              <input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email" id="mce-EMAIL" size="30">
	              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fd3db3e3176bc087728db65b9_ee7cb4d07a" tabindex="-1" value=""></div>
	              <input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="text-cta"></div>
	            </div>
	            <div id="mce-responses" class="clear">
	              <div class="response" id="mce-error-response" style="display:none"></div>
	              <div class="response" id="mce-success-response" style="display:none"></div>
	            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	          </form>
          </div>
        <!--End mc_embed_signup-->
      </div>
    </header>
    <div class="grid-container">
        <nav>
            {{ collection:sound_collections sort="date:desc" limit="4" paginate="true" as="sound_collection" type_of_collection:is="date_collection"}}
                {{ paginate }}
                  {{ if next_page }}
                    <a href="{{ next_page }}">&larr;&nbsp;Older</a>
                  {{ /if }}
                  <div class="timeline-container">
                  {{ sound_collection scope="group"}}
                    {{ relate:sounds sort="entry_number:desc"}}
                      {{ if last }}
                        <a href="#" data-target-entry="{{ entry_number }}"><div class="timeline-mark" data-title="{{ group:title }}"></div></a>
                      {{ else }}
                        <a href="#" data-target-entry="{{ entry_number }}"><div class="timeline-mark"></div></a>
                      {{ /if }}
                    {{ /relate:sounds }}
                  {{ /sound_collection }}
                  <div class="timeline-position-container">
                    <div class="timeline-position-indicator">
                    </div>
                  </div>
                  </div>
                  {{ if prev_page }}
                    <a href="{{ prev_page }}">Newer&nbsp;&rarr;</a>
                  {{ /if }}
                {{ /paginate }}
            {{ /collection:sound_collections}}
        </nav>
        <div class="player-container collapsed">
          <div class="player">
            <div class="track-title">
              <span>Sarah Hennies &mdash; Falsetto</span>
            </div>
            <audio><source src="" type="audio/mp3"></audio>
            <div class="download-link">
              <a href="" download class="cta">Download</a>
            </div>
          </div>
        </div>
        <div class="entries-container">
          <div class="entries-wrap">
            {{ collection:sound_collections sort="date:desc" limit="4" paginate="true" as="sound_collection" type_of_collection:is="date_collection"}}
                {{ paginate }}
                  {{ sound_collection }}
                    {{ relate:sounds as="entry" sort="entry_number:desc"}}
                      {{ entry }}
                        <div class="entry entry--sound collapsed" data-entry-number="{{ entry_number }}">
                          <div class="entry__wrapper">
                            <header class="entry__header">
                              <span class="entry__number">{{ entry_number }}</span> <span class="entry__artist">{{ artist }}</span>
                              <h2 class="entry__title">{{ title }}</h2>
                              <a href="#" class="close cta">Close</a>
                            </header>
                            <div class="entry__content">
                              <div class="entry__links">
                                <a href="" class="cta play-sound" data-sound="{{ sound_url }}" data-title="{{ artist }} ― {{ title }}">Listen</a><a download class="cta" href="{{ sound_url }}">Download</a>
                              </div>
                              <div class="entry__text">
                                {{ companion_text }}
                              </div>
                            </div>
                          </div>
                        </div>
                      {{ /entry }}
                    {{ /relate:sounds }}
                  {{ /sound_collection }}
                {{ /paginate }}
            {{ /collection:sound_collections }}
          </div>
        </div>
        <footer></footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script src="{{ theme:js }}"></script>

</body>

</html>
